/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}

header {
  position: static top;
  background-color: #200a5d;
  color: #05f7fb;
  padding: 12px 12px;
  width: 100%;
  height: auto;
  margin-bottom: 1.8em;
}


/* ---- particles.js container ---- *//* Copyleft */
.copyleft {
  font: 21px Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  transform: rotate(180deg);
  color: rgb(241, 142, 3);
}

.hearth {
  font: 18px Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 0.5%;
  color: rgb(227, 36, 2);
}

footer {
  background-color: #370bae;
  font-size: small;
  text-align: center;
  color: #fff;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9%;
}

container {	
  color: rgba(90, 237, 227, 0.093);
}

a.footer:hover {	
  color: yellowgreen;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
      max-width: 100%;
  }
}

/* -------------------------------- */
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05dbfc5f;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  /* background-position: 50% 50%; */
}

/* .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0)
}

.link-container {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5)

}

.link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color:cornflowerblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color:darkslateblue;
}


  