@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* Alinea la barra de navegación en la parte superior */
        min-height: 100vh;
        /* Evita que la barra de navegación se superponga al contenido */
    }
.navbar {
    width: 100%;
    background-color: #1a0f55;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    /* Coloca los elementos a ambos lados */
    align-items: center;
}

.navbar-title {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
}

.navbar-links {
    padding-right: 20px;
    /* Espacio entre el borde derecho y los enlaces */
}

.brand {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
    font-weight: bold;
    /* Hace que el texto sea más grueso */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
}
.nav-link {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    /* Agrega una transición suave al cambio de color de fondo */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    border-radius: 5px;
    /* Añade bordes redondeados */
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.poem {
    font-size: 2em;
    line-height: 1.6;
    color: #666;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* BARRA NAVEGACION */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 70px;
    background-color: #1a0f55;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li{
    list-style: none;
}

nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav .list a:hover {
    border-bottom: 4px solid #675bf9;
}

#toggle {
    position: absolute;
    top: -100px;
}

nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media (max-width:768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #1a0f55;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;
    }

    nav :checked ~ .list{
        bottom: 0;
    }

    nav .icon-bars{
        display: block;
    }
}