body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea la barra de navegación en la parte superior */
    min-height: 100vh;
    /* Evita que la barra de navegación se superponga al contenido */
}

.navbar {
    width: 100%;
    background-color: #1a0f55;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    /* Coloca los elementos a ambos lados */
    align-items: center;
}

.navbar-title {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
}

.navbar-links {
    padding-right: 20px;
    /* Espacio entre el borde derecho y los enlaces */
}

.brand {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
    font-weight: bold;
    /* Hace que el texto sea más grueso */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
}
.nav-link {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    /* Agrega una transición suave al cambio de color de fondo */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    border-radius: 5px;
    /* Añade bordes redondeados */
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    margin: 15px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}