body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea la barra de navegación en la parte superior */
    min-height: 100vh;
    /* Evita que la barra de navegación se superponga al contenido */
}

.navbar {
    width: 100%;
    background-color: #1a0f55;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    /* Coloca los elementos a ambos lados */
    align-items: center;
}

.navbar-title {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
}

.navbar-links {
    padding-right: 20px;
    /* Espacio entre el borde derecho y los enlaces */
}
.brand {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
    font-weight: bold;
    /* Hace que el texto sea más grueso */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
}
.nav-link {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    /* Agrega una transición suave al cambio de color de fondo */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    border-radius: 5px;
    /* Añade bordes redondeados */
}
.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    font-size: 2em;
    padding: 20px 40px;
    color: white;
    background-color: #1a0f55;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 10px;
    flex: 1 1 200px;
}

.button:hover {
    background-color: #666;
}