@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Alinea la barra de navegación en la parte superior */
    min-height: 100vh;
    /* Evita que la barra de navegación se superponga al contenido */
}

.navbar {
    width: 100%;
    background-color: #1a0f55;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    /* Coloca los elementos a ambos lados */
    align-items: center;
}

.navbar-title {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
}

.navbar-links {
    padding-right: 20px;
    /* Espacio entre el borde derecho y los enlaces */
}
.brand {
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
    /* Espacio entre el borde izquierdo y el título */
    font-weight: bold;
    /* Hace que el texto sea más grueso */
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
}
.nav-link {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s;
    /* Agrega una transición suave al cambio de color de fondo */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambia el color de fondo al pasar el cursor sobre el enlace */
    border-radius: 5px;
    /* Añade bordes redondeados */
}
.container {

    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ff7fd9;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ff7fd9;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ff7fd9;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ff7fd9;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ff7fd9;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ff7fd9;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {

    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #ff7fd9;
}

a.article,
a.article:hover {
    background: #ff7fd9 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

}


.button:hover {
    background-color: #666;
}

/* BARRA NAVEGACION */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 70px;
    background-color: #1a0f55;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li{
    list-style: none;
}

nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;

    transition: background-color 0.3s ease;
    margin: 10px;
    flex: 1 1 200px;


}

nav .list a:hover {
    border-bottom: 4px solid #675bf9;
}

#toggle {
    position: absolute;
    top: -100px;
}

nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media (max-width:768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #1a0f55;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;
    }

    nav :checked ~ .list{
        bottom: 0;
    }

    nav .icon-bars{
        display: block;
    }
}

